:root{
    --branco-principal: #FFFFFF;
    --Cinza-secundario: #c0c0c0;
    --batao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter'
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.principal-botao{
    background-color: var(--batao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
}

.principal-botao-2{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;
    display: block;
    margin-bottom: '16px';
}

.principal-titulo{
    font-size: 28px;
    font-weight: 700;
}

.principal-aviso{
    font-size: 14px;
    color: var(--Cinza-secundario);
}

.principal-imagem{
    margin: 16px 0 32px 0;
}

.principal-caixa{
    margin: 0 96px;
}

.secundaria{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 100px;
}

.secundaria-imagem{
    width: 80%;
}

.secundaria-titulo{
    font-weight: 700;
    font-size: 48px;
}


.secundaria-texto{
    color: var(--Cinza-secundario);
}

.secundaria-botao{
    display: inline-block;
    margin-top: 16px;
}

.dipositivos-lista{
    display: flex;
    list-style-type: none;
    margin: 80px 0;
    justify-content: center;
}

.dispositivos{
    text-align:center;
}

.dispositivos-titulo{
    font-size: 48px;
}

.lista-item{
    font-size: 32px;
}